body {
    font-family: "Clear sans", "Helvetica Neue", Arial, sans-serif;
    background: #faf8ef;
    color: #776e65;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 30px 0;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    position: absolute;
    /* top: 0; */
    left: 0;

    font-size: 80px;
    font-weight: bold;
}

.score-container {
    display: flex;
}

.score-container__main::before {
    content: "Score";
}

.score-container__best::before {
    content: "Best Score";
}

.rungame-container {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8f7a66;
    border-radius: 3px;
    color: #f9f6f2;
    cursor: pointer;
}

.new-game {
    text-decoration: none;
}

.game-message {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #000;
    opacity: 40%;
    justify-content: center;
    align-items: center;
}

.game-message_display-none {
    display: none;
}

.game-message__win {
    color: #edcf72;
    font-size: 50px;
}

.game-message__lose {
    color: red;
    font-size: 50px;
}

.game-field {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding: 15px;
    margin-top: 40px;
    border-radius: 6px;

    background: #bbada0;
}

.grid-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 15px;
}
    .grid-row:last-child {
        margin-bottom: 0;
    }

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    border-radius: 3px;
    margin-right: 15px;
    text-align: center;
    line-height: 106.25px;
    font-size: 55px;
    font-weight: bold;
    background: rgba(238, 228, 218, 0.35);
    transition: 0.4 ease-out;
}
    .grid-cell:last-child {
        margin-right: 0;
    }

.tile-2 {
    background: #eee4da;
}

.tile-4 {
    background: #ede0c8;
}

.tile-8 {
    background: #f2b179;
}

.tile-16 {
    color: #f9f6f2;
    background: #f59563;
}

.tile-32 {
    color: #f9f6f2;
    background: #f67c5f;
}

.tile-64 {
    color: #f9f6f2;
    background: #f65e3b; 
}

.tile-128 {
    color: #f9f6f2;
    background: #edcf72;
}

.tile-256 {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 45px;
}

.tile-512 {
    color: #f9f6f2;
    background: #edc850;
    font-size: 45px;
}

.tile-1024 {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 35px;
}

.tile-2048 {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 35px; 
}